<p-toast />
<p-confirmDialog />
<main class="content-main">
    <p-card>
        <div class="flex justify-content-space-between align-items-center">
            <h1 class="page-title">Calendários</h1>
            <p-button pRipple label="Novo" icon="pi pi-check" class="p-button-primary p-button-height-default"
                routerLink="/admin/calendarios/novo" size="small"></p-button>
        </div>
        <hr />
        <div *ngFor="
                let calendarsBySpiritCenter of calendarsBySpiritCenter | keyvalue
            ">
            <h4 class="page-subtitle">{{ calendarsBySpiritCenter.key }}</h4>
            <p-table class="w-100" [value]="calendarsBySpiritCenter.value" [tableStyle]="{ 'min-width': '50rem' }">
                <ng-template pTemplate="header">
                    <tr>
                        <th>Ano</th>
                        <th>Semestre</th>
                        <th style="width: 10%">Ações</th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-calendar let-index="rowIndex">
                    <tr>
                        <td>{{ calendar.ano }}</td>
                        <td>{{ calendar.semestre }}</td>
                        <td>
                            <div class="flex gap-2 actionItens">
                                <i class="pi pi-pencil"></i>
                                <a><i class="pi pi-trash" (click)="
                        onConfirmDialog(
                            $event,
                            index,
                            calendarsBySpiritCenter.key
                        )
                    "></i></a>

                            </div>
                        </td>
                    </tr>
                </ng-template>
            </p-table>
        </div>
    </p-card>
</main>