<div class="container">
    <aside class="sidebar">
        <div class="logo">
            <img class="logo__img" src="/assets/img/logo_simples.png" alt="Logo Global Kardec">
            <div class="logo__text">
                <span class="title">Global Kardec</span>
                <span class="subtitle">Escola de Estudos Espíritas</span>
            </div>

        </div>
        <p-panelMenu [model]="sidebarItems"></p-panelMenu>
    </aside>
    <div class="content-dashboard">
        <p-menubar [model]="items"></p-menubar>

    </div>
    
</div>
