<p-card class="card people">
    <div class="flex title-box justify-content-between">
        <div class="page-title-wrapper">
            <h1 class="page-title">Pessoas</h1>
        </div>
        <p-button
            class="courseCreateButton"
            label="Novo"
            icon="pi pi-plus"
            size="small"
            severity="primary"
            routerLink="/admin/configuracao/pessoas/novo"
        ></p-button>
    </div>
    <p-toast/>
    <div class="card">
        <p-table
            [globalFilterFields]="['nome', 'estado', 'cidade']"
            #dt2
            [value]="spiritCenters"
            responsiveLayout="stack"
            [paginator]="true"
            [rows]="5"
            selectionMode="single"
            [(selection)]="selectedSpiritCenter"
            dataKey="nome"
            (onRowSelect)="onRowSelect($event.data)"
            (onRowUnselect)="onRowUnselect($event.data)"
            [tableStyle]="{'min-width': '50rem'}">

            <ng-template pTemplate="caption">
                <div class="flex">
                    <p-iconField iconPosition="left" class="ml-auto">
                        <p-inputIcon>
                            <i class="pi pi-search"></i>
                        </p-inputIcon>
                        <input
                            pInputText
                            placeholder="Digite uma palavra chave"
                            class="p-inputtext p-component p-element ng-valid ng-touched ng-dirty"
                            #searchInput
                            type="text" (input)="filterTable(searchInput.value)">

                    </p-iconField>
                </div>
            </ng-template>
            <ng-template pTemplate="header">
                <tr>
                    <th>Nome</th>
                    <th>Estado</th>
                    <th>Cidade</th>
                    <th>Ver pessoas</th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-SpiritCenter let-columns="columns">
                <tr [pSelectableRow]="SpiritCenter">
                    <td>
                        <span class="p-column-title">Nome: </span>{{ SpiritCenter.nome }}

                    <td>
                        <span class="p-column-title">Estado: </span>{{ SpiritCenter.estado }}

                    <td>
                        <span class="p-column-title">Cidade: </span>{{ SpiritCenter.cidade }}
                    </td>
                    <td>
                        <span class="p-column-title">Ver pessoas: </span>
                        <p-button (click)="showPeople(SpiritCenter.uuid, SpiritCenter.nome)" [text]="true"
                                  label="Ver pessoas"/>
                    </td>
                </tr>
            </ng-template>
        </p-table>
    </div>

</p-card>

<p-dialog
    [header]="nameCenter"
    [modal]="true"
    [(visible)]="visible"
    [style]="{ width: '70rem' }"
    [breakpoints]="{ '1199px': '75vw', '575px': '90vw' }"
    [maximizable]="true">
    <p>
        <p-table [value]="peopleList" [tableStyle]="{ 'min-width': '50rem' }">
            <ng-template pTemplate="header">
                <tr>
                    <th>Nome</th>
                    <th>Email</th>
                    <th>Telefone</th>
                    <th>Ver</th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-person>
                <tr>
                    <td>{{ person.nome }}</td>
                    <td>{{ person.contato.email }}</td>
                    <td>{{ person.contato.telefone }}</td>
                    <td>
                        <p-button icon="pi pi-eye"
                                  [routerLink]="['/admin/configuracao/pessoas/perfil/', person.uuid.toString()]"
                                  [rounded]="true" [text]="true" severity="success"/>
                    </td>
                </tr>
            </ng-template>
        </p-table>
    </p>
</p-dialog>
