@import "../../../../assets/styles/_global.less";

.classes {
    .mixin-display-flex-direction(column);

    &_title {
        .mixin-display();
        .mixin-flex-justify-content(space-between);
    }

}


.add-feature{
    .button-save{
        display: block;
        float: right;
        margin-top: @indent__base;
    }
}

