<main class="content-main">
    <div class="flex justify-content-space-between align-items-center">
        <h2>Nova pessoa</h2>

    </div>
    <hr />
</main>


<p-card class="coursesTableCard">
    <div class="flex title-box justify-content-between">
        <div class="page-title-wrapper">
            <h1 class="page-title">Conteúdos do curso</h1>
        </div>
        <button
            pButton
            pRipple
            label="Voltar"
            icon="pi pi-arrow-left"
            class="p-button-secondary p-button-height-default"
            routerLink="/admin/configuracao/pessoas"
        ></button>
    </div>
</p-card>
