<main class="content-main">
    <div class="flex justify-content-space-between align-items-center">
        <h2>Novo calendário</h2>
        <button
            pButton
            pRipple
            label="Voltar"
            icon="pi pi-arrow-left"
            class="p-button-secondary p-button-height-default"
            routerLink="/admin/calendarios"
        ></button>
    </div>
    <hr />
    <div class="calendar">
        <div class="calendar_row">
            <div class="calendar_row_flex_100">
                <p-dropdown
                    name="spiritCenterCalendar"
                    optionLabel="name"
                    placeholder="Selecione o Centro Espírita"
                    [options]="spiritCenters"
                    [showClear]="true"
                    [(ngModel)]="selectedSpiritCenter"
                />
            </div>
        </div>
        <div class="calendar_row">
            <div class="flex flex-column gap-2 calendar_row_flex_50">
                <label>Ano</label>
                <p-inputNumber
                    inputId="anoCalendar"
                    styleClass="w-100"
                    [useGrouping]="false"
                    [(ngModel)]="this.calendar.ano"
                />
            </div>
            <div class="flex flex-column gap-2 calendar_row_flex_50">
                <label>Semestre</label>
                <p-inputNumber
                    inputId="semestreCalendar"
                    styleClass="w-100"
                    [useGrouping]="false"
                    [(ngModel)]="this.calendar.semestre"
                />
            </div>
        </div>
        <div class="calendar_row justify-content-end">
            <div class="flex flex_column">
                <button
                    pButton
                    pRipple
                    label="Criar"
                    class="p-button-success"
                    icon="pi pi-check"
                    (click)="onSubmit()"
                ></button>
            </div>
        </div>
    </div>
</main>
