<p-card class="classTableCard">
    <div class="flex title-box">
        <div class="page-title-wrapper">
            <h1 class="page-title">Turmas</h1>
        </div>
        <p-button
            class="courseCreateButton"
            label="Nova Turma"
            icon="pi pi-plus"
            size="small"
            severity="primary"
            routerLink="novo"
        ></p-button>
    </div>
    <p-accordion [activeIndex]="0" *ngFor="let tabs of classList">
        <p-accordionTab  *ngFor="let tab of classList" [header]="tab.nomeCentro">
            <p-table [value]="tab.classes" [tableStyle]="{ 'min-width': '50rem' }">
                <ng-template pTemplate="header">
                    <tr>
                        <th>Curso</th>
                        <th>Ano/Semestre</th>
                        <th>Link da Sala</th>
                        <th>Ações</th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-class>
                    <tr>
                        <td>{{ class.nomeCurso }}</td>
                        <td>{{ class.anoCalendario }}/{{ class.semestreCalendario }}</td>
                        <td>
                            <a href="{{class.linkSala}}"  target="_blank" rel="noopener noreferrer" class="link-external">
                                Acessar sala
                            </a>
                           </td>
                        <td class="actionItens">
<!--                            <a><i class="pi pi-pencil" [routerLink]="['/admin/cursos/novo/', course.uuid.toString()]"></i></a>-->
                            <a><i class="pi pi-trash" ></i></a>
                        </td>
                    </tr>
                </ng-template>
            </p-table>
        </p-accordionTab>
    </p-accordion>
</p-card>

