<p-toast></p-toast>
@if (showTableMessage) {
    <p-button
        class="courseCreateButton"
        label="Criar Curso"
        icon="pi pi-plus"
        size="small"
        severity="primary"
        routerLink="/admin/cursos/novo"
    ></p-button>
    <div class="card">
        <p-messages
            [(value)]="messages"
            [enableService]="false"
            [closable]="false"
        />
    </div>
} @else {
    <p-card class="coursesTableCard">
        <div class="flex title-box">
            <div class="page-title-wrapper">
                <h1 class="page-title">Conteúdos do curso</h1>
            </div>
            <p-button
                class="courseCreateButton"
                label="Criar Curso"
                icon="pi pi-plus"
                size="small"
                severity="primary"
                routerLink="/admin/cursos/novo"
            ></p-button>
        </div>
        <p-table
            [value]="coursesList"
            [rows]="5"
            [paginator]="true"
            [showCurrentPageReport]="true"
            currentPageReportTemplate="{currentPage}ª de {totalPages}"
            class="tHeader"
            responsiveLayout="stack"
            [tableStyle]="{ 'min-width': '5rem' }"
        >
        <ng-template pTemplate="caption">
            <div class="flex">
                <!-- <p-iconField iconPosition="left" class="ml-auto"> -->
                    <input 
                        pInputText 
                        type="text" 
                        
                        placeholder="Search keyword" />
                <!-- </p-iconField> -->
            </div>
        </ng-template>
            <ng-template pTemplate="header" class="tHeader">
                <tr>
                    <th>Nome do Curso</th>
                    <th>Instituto</th>
                    <th>Idioma</th>
                    <th class="thStyleAction">Ação</th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-course>
                <tr class="trBody">
                    <td class="courseName">{{ course.nome }}</td>
                    <td class="instituto">{{ course.nomeInstituto }}</td>
                    <td class="idioma">{{ course.nomeIdioma }}</td>
                    <td class="actionItens">
                      <a><i class="pi pi-pencil" [routerLink]="['/admin/cursos/novo/', course.uuid.toString()]"></i></a>
                      <a><i class="pi pi-trash" (click)="confirmDelete($event, course.nome, course.uuid, course)"></i></a>
                    </td>
                </tr>
            </ng-template>

            <ng-template pTemplate="summary" class="tFooter"></ng-template>
        </p-table>
    </p-card>

    <p-confirmDialog></p-confirmDialog>
}
