.p-component-overlay {
    position: unset;
}




.sidebar-main {
    display: flex;
    height: 100vh;

    p-sidebar {
        height: 100%;

        .p-sidebar-left {
            position: unset;
        }
    }
}