@import "../../_global.less";

.sidebar {
    .p-panelmenu {
        .p-panelmenu-header {

            .p-panelmenu-header-content {
                background-color: unset;
                border: unset;

                .p-panelmenu-header-action {
                    color: @color-white;
                }

            }

            &.p-highlight {
                .p-panelmenu-header-content {
                    background-color: @color-white;

                    .p-panelmenu-header-action {
                        color: @color-black;
                    }

                }
            }
        }
    }
}