
@import '_global.less';

//
// Colors theme
//  ---------------------------------------------


@theme__color__primary: @color-blue-light;
@theme__color__secondary: @color-blue-dark;
@theme__color__black: @color-black;
@theme__color__primary-alt: @color-white;
@primary__color__lighter: @color-gray-light;



// LAYOUT
//
//  SIDEBAR
//  ---------------------------------------------
@sidebar-with: 260px;
@sidebar-background: @theme__color__primary;