@import '_global.less';

// LAYOUT
//
//  FONT FAMILIES
//  ---------------------------------------------
@font-family__base: @font-family__sans-serif;
@font-family__second: @font-family__serif;

//
// Colors theme
//  ---------------------------------------------


@theme__color__primary: @color-blue-light;
@theme__color__secondary: @color-blue-dark;
@theme__color__black: @color-black;
@theme__color__primary-alt: @color-white;
@primary__color__lighter: @color-gray-light;
@primary__color__dark: @color-gray;



// LAYOUT
//
//  SIDEBAR
//  ---------------------------------------------
@sidebar-with: 260px;
@sidebar-background: @theme__color__primary;
@sidebar-transition: opacity 0.1s ease-in-out;


//  BUTTONS
//  ---------------------------------------------
@buttons-border-radius: @indent__xxs;
@buttons-padding: @indent__xxs @indent__base;
@link-hover-color: @color-blue-light;

// PRIMARY
@buttons-primary-background-color: @theme__color__primary;
@buttons-primary-background-color-hover: @theme__color__secondary;

// SECONDARY
@buttons-secondary-background-color: @primary__color__dark;
@buttons-secondary-background-color-hover: @primary__color__lighter;
