@import "../../_global.less";


.p-datatable .p-datatable-thead>tr>th {
    background-color: @color-blue-light;
    color: @color-white;    
    font-weight: bold;
    font-size: 14;
    border: 0.05px solid @color-white ;
}

.trBody{
    td {    
        font-weight: 600; // 600 é equivalente à semi-bold de acordo com a MDN doc
        font-size: 12px;
        padding: 13px;
        height: 45px;
        border: solid @color-white 0 0 0 1px;
    }
    .actionItens {
        display: flex;
        justify-content: center;
        align-items: center;
        
    
        .pi {
            margin: 12px;
        }
    }
}

.p-datatable-footer {
    background-color: @color-blue-light;

    height: 41px;
}

.pi-pencil:hover{
    transition: 0.2s;
    color: @color-blue-light;
}

.pi-trash:hover{
    transition: 0.2s;
    color: @color-red;
}