@import "../../_global.less";


.screen-custom({
    .actionItens {
        justify-content: right;
    }

    .actionItens::before {
        content: "Ações";
        color: @color-blue-light;

    }
}

, 640px);

.coursesTableCard {
    .p-card {
        box-shadow: none;

        .p-card-body {
            .p-card-content {
                .p-element {
                    .p-datatable {
                        .p-datatable-wrapper {
                            .p-datatable-table {
                                .p-datatable-thead {
                                    tr {
                                        th {
                                            background-color: @theme__color__primary;
                                            color: @theme__color__primary-alt;
                                            font-weight: @font-weight__bold;
                                            font-size: @font-size__m;
                                            border: 0.05px solid @theme__color__primary-alt;
                                        }
                                        .thStyleAction{
                                            width: 5%;
                                        }
                                    }
                                }

                                .p-datatable-tbody {
                                    .trBody {
                                        td {
                                            font-weight: 600; // 600 é equivalente à semi-bold de acordo com a MDN doc
                                            font-size: 12px;
                                            padding: 13px;
                                            height: min-content;
                                            border: solid @theme__color__primary-alt 0 0 0 1px;
                                        }
                                        
                                        .actionItens {
                                            display: flex;
                                            justify-content: center;
                                            align-items: center;
                                            

                                            a {
                                                .pi {
                                                    margin: 12px;
                                                }

                                                .pi-trash {
                                                    cursor: pointer;
                                                }

                                                .pi-pencil:hover {
                                                    transition: 0.2s;
                                                    color: @color-blue-light;
                                                }

                                                .pi-trash:hover {
                                                    transition: 0.2s;
                                                    color: @color-red;
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }

                        .p-datatable-footer {
                            background-color: @color-blue-light;

                            height: 41px;
                        }
                    }
                }
            }
        }
    }




}